.navBar{
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    gap: 10px;

}
.nav-logo p{
    color: #171717;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu{
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #626262;
}
.nav-menu  hr{
    border: none;
    width: 90%;
    height: 6px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
    gap: 35px;

}
.nav-login-cart button{
    width: 120px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    background-color: white;
    font-size: 20px;
    font-weight: 500;

}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
}
@media screen and (max-width: 425px)  {
    .nav-logo p{
        font-size: 20px;
    }
  }
